<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xb.crm.mapper.RoleMapper">

    <select id="findAllRoles" resultType="role">
        select * from sys_role;
    </select>

    <!--插入成功后将自增id赋值给参数中的指定属性-->
    <insert id="insertRole" parameterType="role" keyProperty="id" useGeneratedKeys="true">
       insert into sys_role (name,description) values (#{name},#{description});
    </insert>

    <insert id="insertRolePermission" parameterType="int">
        insert into sys_role_permission(role_id,permission_id) values (#{roleId},#{permissionId});
    </insert>
    <!--角色权限表的批量插入-->
    <insert id="insertRolePermissionBatch">
        insert into sys_role_permission(role_id,permission_id) values
        <foreach collection="param2.split(',')" item="permissionId" separator=",">
            (#{roleId},#{permissionId})
        </foreach>
    </insert>

    <select id="findRoleByRoleId" parameterType="int" resultType="role">
        select * from sys_role where id = #{roleId};
    </select>

    <select id="findPermissionIdByRoleId" parameterType="int" resultType="int">
        select permission_id from sys_role_permission where role_id = #{roleId};
    </select>

    <delete id="deletePremissionByRoleId" parameterType="int">
        delete from sys_role_permission where role_id = #{roleId};
    </delete>

    <update id="updateRole" parameterType="role">
        update sys_role  set name = #{name},description = #{description} where id = #{id};
    </update>

    <select id="findRoleByRoleName" parameterType="string" resultType="role">
        select * from sys_role where name = #{name};
    </select>

    <delete id="deletePermissionByPermissIdsBatch" parameterType="string">
        delete from sys_role_permission where permission_id in
        <foreach collection="permissionIds.split(',')" item="permissionId"
                 open="(" separator="," close=")">
            #{permissionId}
        </foreach>
    </delete>

    <delete id="deleteRoleByRoleId" parameterType="int">
        delete from sys_role where id = #{roleId};
    </delete>
</mapper>