<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xb.crm.mapper.UserInfoMapper">

    <select id="findHeadPhotoByUserId" parameterType="int" resultType="headPhoto">
        select * from sys_head_photo where user_id = #{userId};
    </select>

    <insert id="insertHeadPhoto">
        insert into sys_head_photo(file_name,user_id) values(#{newName},#{userId});
    </insert>

    <delete id="deleteHeadPhotoByUserId" parameterType="int">
        delete from sys_head_photo where user_id = #{userId};
    </delete>
</mapper>