<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body>

<form class="layui-form" action="" id="userForm">
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" lay-verify="required" name="username"  autocomplete="off" class="layui-input">
        </div>
    </div>
</div>

<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="text" lay-verify="required" name="password"  autocomplete="off" class="layui-input">
        </div>
    </div>

</div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">锁住的状态</label>
            <div class="layui-input-inline">
                <select name="locked"  lay-search="">
                    <option value="0">正常</option>
                    <option value="1">锁住</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-inline">
                <input type="checkbox"  name="roleIds" th:title="${role.name}" th:value="${role.id}" th:each="role:${roles}" lay-skin="primary"/>
            </div>
        </div>
    </div>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button type="button" onclick="doSave();" class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</div>
</form>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    var $,layer;
    layui.use(['form','laydate'], function(){
        var laydate = layui.laydate;
        $ = layui.jquery;
        layer = layui.layer;
        //日期
        laydate.render({
            elem: '#order_date'
        });
    })
    
    
    function doSave() {
        var requestData = $("#userForm").serialize();

        $.post("/user/save",requestData,function (responseData) {
            console.log(responseData);
            if(responseData.success == 1){
                layer.alert("添加成功",{yes:function () {
                    parent.layer.closeAll();
                }});
            }else{
                layer.alert("添加失败:"+responseData.msg,{yes:function () {
                    parent.layer.closeAll();
                }});
            }
        });
    }
</script>


</body>
</html>