<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script type="text/javascript" th:src="@{/zTree/js/jquery-1.4.4.min.js}"></script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body>

<form class="layui-form" action="" id="form1">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">WeChat号</label>
            <div class="layui-input-inline">
                <input type="text" name="wechat_no" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">WeChat备注</label>
            <div class="layui-input-inline">
                <input type="text" name="wechat_mark" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">QQ</label>
            <div class="layui-input-inline">
                <input type="tel" name="qq_no" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-inline">
                <input type="text" name="tel" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">购买课程</label>
            <div class="layui-input-inline">
                    <select name="course_name" id="course_name" lay-filter="test"  lay-verify="required" lay-search="">
                        <option value="">直接选择或搜索选择</option>
                        <option th:each="category : ${courseCategoryList}"
                                th:value="${category.course_name}"
                                th:text="${category.course_name}"></option>
                        <!--<option value="MySQL删库跑路教程">MySQL删库跑路教程</option>-->
                        <!--<option value="SpringBoot从入门到放弃">SpringBoot从入门到放弃</option>-->
                        <!--<option value="玩转JavaWeb">玩转JavaWeb</option>-->
                    </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">购买价格</label>
            <div class="layui-input-inline">
                <input type="text" name="course_price" id="course_price"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">购买日期</label>
            <div class="layui-input-inline">
                <input type="text" name="order_date" id="order_date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" onclick="doSave();" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script th:inline="javascript">
    //声明变量通过layui获取对象 才能使用jquery
    // var $,layer;
    var layer;
    layui.use(['form','laydate'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
        layer = layui.layer;
        //日期
        laydate.render({
            elem: '#order_date'
        });


        //下拉框选中触发事件
        form.on('select(test)', function(data){
            console.log(data.value);
            var goodsName = data.value;
            $.post("/goods/findPrice",{courseName:goodsName},function (responseData) {
                console.log(responseData);
                if (responseData.code == 200){
                    $("#course_price").val(responseData.data);
                }
            },"json")
        });

    })


    function doSave() {
        // alert("xxx")
        // url	必需规定把请求发送到哪个 URL
        // data	可选映射或字符串值。规定连同请求发送到服务器的数据。
        // success(data,textStatus,jqXHR)	可选请求成功时执行的回调函数。
        // dataType可选。规定预期的服务器响应的数据类型。默认执行智能判断（xml、json、script 或 html）。
        // $.post(url,data,callback,type)
        var requestData = $("#form1").serialize();//获取表单中的值
        $.post("/courseorder/save",requestData,function (responseData) {
            if (responseData.success == 1){
                layer.alert("添加成功",{yes:function () {
                        //点击确定后要发生的事件 即点击确定后关闭添加窗口
                        //TODO 虽然关闭但是页面没有马上 刷新 更新保存的数据
                        parent.layer.closeAll();
                    }})
            } else {
                //TODO 添加失败后操作
            }
        });

    }
</script>

</body>
</html>